// Here you can add other styles
.vragenlijst {
    margin-left: 5%;
    margin-right: 5%;
    td {
        background-color: white;
    }
}

.deelnemer-card {
    .deelnemer-info {
        height: 200px;
        border-width: 0.2px;
        border-style: solid;
        border-color: lightgray;
        margin-bottom: 20px;
        img {
            height: 150px;
            margin: 25px;
        }
        a {
            text-decoration: underline;
        }
        h4{
            margin-top: 25px;
        }
    }
    .deelnemers {
        overflow: scroll;
        height: 500px;
        .table-deelnemer {
            overflow: scroll;
            display: inline-table;
        }
    }
}