// Here you can add other styles
.vragenlijst {
    margin-left: 5%;
    margin-right: 5%;

    td {
        background-color: white;
    }

    table {
    
    }     
    }


.vragenlijst > table {

}

.filter   { 
    font-weight: bold;
}

.margin{
    margin-left: 10px;

}


