// Here you can add other styles
.vragenlijst {
    margin-left: 5%;
    margin-right: 5%;
    td {
        background-color: white;
        padding: 15px;
        margin: 60px;
        text-align: center;
        align: center;
        width: 14.27%;
    }
    table {

    }
}
.deelnemer-card {
    .deelnemer-info {
        height: 200px;
        border-width: 0.2px;
        border-style: solid;
        border-color: lightgray;
        margin-bottom: 20px;
        img {
            height: 150px;
            margin: 25px;
        }
        a {
            text-decoration: underline;
        }
        h4 {
            margin-top: 25px;
        }
    }
    .deelnemers {
        overflow: scroll;
        height: 500px;
        .table-deelnemer {
            overflow: scroll;
            display: inline-table;
        }
    }
}

.module-card {
    .module-info {
        height: 230px;
        border-width: 0.2px;
        border-style: solid;
        border-color: lightgray;
        margin-bottom: 20px;
    }
    a {
        text-decoration: underline;
    }
    h4 {
        margin-top: 25px;
    }
    .row {
        padding-left: 50px;
    }
    .modules {
        overflow: scroll;
        height: 500px;
        .table-module {
            overflow: scroll;
            display: inline-table;
        }
    }
}

.vragenlijst > table {

}

.filter   { 
    font-weight: bold;
}

.margin {
    margin-left: 10px;
}